<template name="admin_show">
  <h2>Configure Show <small>Changes will be applied once the next game is started</small></h2>
  <hr>
  <div class="row-fluid">
    <div class="span6">
      <h3>Scoring</h3>
      <form class='form form-inline'>
        <div class="control-group">
          <input type="text" name="correctPoints" value='{{defaultConfig.correctPoints}}' class='input input-small'/>
          <label class='control-label'>Correct answer points</label>
        </div>
        <div class="control-group">
          <input type="text" name="bonusPoints" class='input input-small' value="{{defaultConfig.bonusPoints}}"/>
          <label class='control-label'>First correct answer bonus</label>
        </div>
        <div class="control-group">
          <input type="text" name='questions' value="{{defaultConfig.questions}}" class='input input-small'/>
          <label class='control-label'>Number of Questions</label>
        </div>        
        <div class="control-group">
          <input type="text" name='categoryQuestions' value="{{defaultConfig.categoryQuestions}}" class='input input-small'/>
          <label class='control-label'>Maximum Category Questions</label>
        </div>        

      </form>
    </div>
    <div class="span6">
      <h3>Countdown Timers (Seconds)</h3>
      <form class='form form-inline'>
        <div class="control-group">
          <input type="text" name="timers.question" value="{{defaultConfig.timers.question}}" class='input input-small'/>
          <label class='control-label'>Question</label>
        </div>
        <div class="control-group">
          <input type="text" name="timers.watch_tiebreak" value="{{defaultConfig.timers.watch_tiebreak}}" class='input input-small'/>
          <label class='control-label'>Watch Tiebreak Nmbers</label>
        </div>
        <div class="control-group">
          <input type="text" name="timers.input_tiebreak" value="{{defaultConfig.timers.input_tiebreak}}" class='input input-small'/>
          <label class='control-label'>Input Tiebreak Numbers</label>
        </div>        
      </form>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <button class="btn btn-primary new-video pull-right">New Video</button>
    <h3>Categories</h3>
    <div class="row-fluid">
      <div class="span12">
    {{#each videos}}
      {{> admin_video}}
    {{/each}}
     </div>
    </div>
  </div>

</template>

<template name="admin_video">
  <div class="well span6 videobox">
    <div class="pull-right">
      <img src="/videos/{{id}}/thumb.png" alt=""></img>  
    </div>
    <h3>Video {{id}}</h3>
    <input type='text' class='input video-title' value="{{title}}">
    <!-- <label class='tool' for="">Upload File
      <input type='file' class='input input-small' style="width:100px;"></input>
    </label>
     -->
    <!-- <button class="btn tool delete btn-success pull-left">Edit</button>   -->
    <br>
    <button class="btn tool delete btn-danger">Delete</button>  

    <div class="clearfix"></div>
  </div>
</template>
