
<template name="admin_export">
  <h2>Export <small>Save and restore your data or configurations</small></h2>
  <hr>
  <div class="row-fluid">
    <div class="span6 well">
      <h3>Backup</h3>
      <p>Create a snapshop which can be restored later on</p>
      <button class='btn btn-large btn-success' style='width:100%;'>Copy Site Files</button>

    </div>
    <div class="span6 well">
      <h3>Restore</h3>
      <p>Upload a previously created snapshot</p>
      <button class='btn btn-large btn-warning' style='width:100%;'>Paste Site files</button>

    </div>
  </div>
</template>