/* CSS declarations go here */
#stage, #controls{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}
#controls{
  top:auto;
  z-index:10;
  text-align: center;
}
.true{
  background:red;
}