<template name="adminLayout">
  <div class="container-fluid">
    {{> admin_navbar}}
    <div class="row-fluid">
      {{> admin_content}}
    </div>
  </div>
</template>

<template name="admin_navbar">
  <div class="navbar">
    <div class="navbar-inner">
      <a href="/admin" class="brand">Admin Panel</a>
      <ul class="nav pull-right">
        <li class='active'><a href="/admin/data">Data</a></li>
        <li><a href="/admin/questions">Questions</a></li>
        <li><a href="/admin/forms">Forms</a></li>
        <li><a href="/admin/theme">Theme</a></li>
        <li><a href="/admin/export">Export</a></li>
      </ul>
    </div>
  </div>
</template>

<template name="admin_content">
  <h1>Data</h1>
</template>