
<template name="holding_slide">
    <div id="holding_slide"></div>
</template>

<template name="stage_static">
  {{#if screenMode}}
    {{#if content.screen}}
      {{content.screen}}
    {{else}}
      {{> holding_slide}}
    {{/if}}
  {{else}}
    {{#if content.default}}
      {{content.default}}
    {{else}}
      {{> holding_slide}}
    {{/if}}
  {{/if}}
</template>

<template name="stage_form">
    {{#if screenMode}}
      {{> holding_slide}}
    {{else}}
      {{> build_form}}
    {{/if}}
</template>


<template name="stage_video_select">
  <h1>Select Video</h1>
  <div id="video_select_wrapper">
    {{#if voted}}
      <h1>Your vote has been cast</h1>
    {{else}}
      {{#each videos}}
        {{> video_button}}
      {{/each}}
    {{/if}}
  </div>
</template>

<template name="video_button">
  <div class="video btn video-btn">{{title}}</div>
</template>

<template name="stage_video_play">
  {{#if screenMode}}
    {{> playing_video}}
  {{else}}
    {{> holding_slide}}
  {{/if}}
</template>

<template name='playing_video'>
  <div id="video_wrapper">
    <video autoplay>
     <source src="/videos/test3.mp4">
    </video>
  </div>  
</template>

<template name='screen_video'>
  <h1>Playing video</h1>
</template>



<template name="stage_question">
  <h2>{{currentQuestion.text}}</h2>
  {{#if voted}}
    <h3>Your vote has been counted</h3>
  {{else}}
  
    <ul class="options">  
      {{#each currentQuestion.options}}
        {{> option}}
      {{/each}}
    </ul>
  {{/if}}

  {{> clock}}
</template>

<template name="clock">
<div id="clock"><input class="face"/></div>
</template>

<template name="option">
  <li class="option btn">{{text}}</li>
</template>

<template name="stage_answer">
  <h1>{{currentQuestion.text}}</h1>
  <h2>The correct answer was {{currentCorrectAnswer.text}}</h2>
  {{#if screenMode}}
    {{> leaderboard currentPlayers}}
  {{else}}
    {{#if answered}}
      {{#if answeredCorrectly}}
        <div class="question-result answered-correctly">
          <h1>Well done!</h1>
          <h3>You were correct</h3>
        </div>
      {{else}}
        <div class="question-result answered-incorrectly">
          <h1>Too Bad!</h1>
          <h3>You were incorrect</h3>
        </div>
      {{/if}}
    {{else}}
      <div class="question-result didnt-answer">
        <h1>Oops!</h1>
        <h3>You didnt answer in time</h3>
      </div>
    {{/if}}
  {{/if}}
</template>


<!-- tiebreak stuff -->


<template name="stage_results">
  <h1>This Game's Results</h1>
  {{> leaderboard currentPlayers}}
  {{#if playerMode}}
    {{#if iAmWinner}}
      <div class="winner">
        <h1>Congratualtions</h1>
        <h2>You are the winner!</h2>
      </div>
    {{else}}
      <div class="loser">
        <h1>Sorry</h1>
        <h2>You didn't win.<br/>Better luck next time!</h2>
      </div>
    {{/if}}
  {{/if}}
</template>


<template name="stage_leaderboard">
  {{#if screenMode}}
    <h1>Overall Winners Today</h1>
    {{> leaderboard top10}}
  {{else}}
    <h1>Form here</h1>
  {{/if}}
</template>