
<template name="controller">
  <div id="controls">
    {{> controller_info}}
    <span class='position'>{{position}} - {{currentStage.title}}</span class='position'>
    <br>
    <div class="btn" id="back-btn">Back</div>
    <div class="btn" id="forward-btn">Forward</div>  
    <hr>
    <div class="btn" id="reset-btn">Reset</div>
  </div>
</template>

<template name="controller_info">
  {{#if winningVideo}}
    <p>Currently Winning Video: {{winningVideo}}</p>
  {{/if}}
  {{#each currentPlayers}}
    {{> controller_player_info}}
  {{/each}}
</template>

<template name="controller_player_info">
  <p>{{firstname}} {{lastname}} - {{score}} - {{video.title}}</p>
</template>