
<template name="controller">
  <div id="controls">
    <div class="inner">
    

      {{> controller_info}}
      <div class="control-buttons">
        <table class='table'>
          <tr>
            <th>Current Position</th>
            <th>Next Position</th>
          </tr>
          <tr>
            <td>{{currentStage.title}}</td>
            <td>{{nextStage.title}}</td>
          </tr>
        </table>
        <!-- <div class="btn" id="back-btn">Back</div> -->
        <div class="btn btn-primary pull-left" id="reset-btn">New Game</div>
        <div class="btn pull-right" id="forward-btn">Forward</div>  
        <!-- <hr> -->
        <!-- <div class="btn" id="reset-btn">New Game</div> -->
      </div>
    



    </div>



    </div>
</template>

<template name="controller_info">
  {{#if winningVideo}}
    <p><small class='muted'>Top Category:</small> <strong>{{winningVideo}}</strong></p>
  {{/if}}
  <table class='table table-striped'>
    <tr>
      <th>Player Name</th>
      <th>Chosen Category</th>
      <th>Score</th>
      <th>Time</th>
      <th>Position</th>
    </tr>
    {{#each currentPlayers}}
      {{> controller_player_info}}
    {{/each}}
  </table>
  
</template>

<template name="controller_player_info">
  <tr class="{{#if caughtUp}}success{{/if}}">
    <td>{{firstname}} {{lastname}}</td>
    <td>{{video.title}}</td> 
    <td>{{score}}</td>
    <td>{{currentAnswerTime}} - {{totalAnswerTime}}</td>
    <td>{{position}}</td>
  </tr>
</template>