<template name='build_form'>
  <form class='form {{class}}'>
  {{#each content}}
    <div class="field-item {{class}}">
      {{#if typeIs 'textbox'}}
        {{> form_textbox}}
      {{/if}}
      {{#if typeIs 'textarea'}}
        {{> form_textarea}}
      {{/if}}
      {{#if typeIs 'dropdown'}}
        {{> form_dropdown}}
      {{/if}}
      {{#if typeIs 'radios'}}
        {{> form_radios}}
      {{/if}}
      {{#if typeIs 'modal'}}
        {{> form_modal}}
      {{/if}}
      {{#if typeIs 'checkbox'}}
        {{> form_checkbox}}
      {{/if}}
      {{#if typeIs 'html'}}
        {{> form_html}}
      {{/if}}
    </div>
  {{/each}}
  <div class="controls">
    <button id="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
</template>

<template name='form_textbox'>
  <div class='collect-data'>
    <label class="control-label">{{text}}</label>
    <div class="controls">
      <input {{#if name}}name="{{name}}"{{/if}} placeholder="Tap here to type" {{#if required}}required{{/if}} id="{{inputId}}" type="{{type}}" class="input"/>
      <span class="help-block">{{content}}</span>
    </div>
  </div>
</template>

<template name='form_dropdown'>
  <div class='collect-data'>
    <label class="control-label">{{text}}</label>
    <div class="controls">
      <select id="{{inputId}}"{{#if name}}name="{{name}}"{{/if}} {{#if required}}required{{/if}}  class="input">
        <option value="">Tap here to select</option>
        {{#each options}}
          <option value="{{.}}">{{.}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</template>

<template name='form_radios'>
  <div class='collect-data'>
    <label class="control-label">{{text}}</label>
    <div class="controls radio-controls">
      {{#each options}} 
        <input type="radio" value="{{.}}"/>  {{.}}
        <br> 
      {{/each}}
    </div>
  </div>
</template>



<template name='form_textarea'>
  <div class='collect-data'>
    <label class="control-label">{{text}}</label>
    <div class="controls">
      <textarea {{#if name}}name="{{name}}"{{/if}} placeholder="Tap here to type" {{#if required}}required{{/if}} id="{{inputId}}" type="{{type}}" class="input"/>
      <span class="help-block">{{content}}</span>
    </div>
  </div>
</template>


<template name='form_checkbox'>
  <div class='collect-data'>
    <label class="checkbox">
      <input {{#if required}}required{{/if}} id="{{inputId}}" type="checkbox" class='input'> {{text}}
    </label>
  </div>
</template>


<template name='form_modal'>
  <div class="btn btn-modal">{{text}}</div>
</template>


<template name='form_html'>
  <div class="form-html">{{{content}}}</div>
</template>




<!--           
     <div class="btn tandc">Privacy Policy</div>
            <div class="btn tandc">Ts and Cs</div>

          <label class="checkbox">
            <input id="{{inputId}}" type="checkbox"> Checkbox disclaimer
          </label>
-->   