
<template name="leaderboard">
  <div id="leaderboard">
    <div class="inner">
      <div class="first_row">{{text}}</div>
      <table>
      {{#each scores}}
        {{> leaderboard_player}}
      {{/each}}  
      </table>
      </div>
    </div>
</template>

<template name="leaderboard_player">
    <tr class='player'>
      <td>{{firstname}} {{lastname}}</td>
      <td>{{score}}{{#if isTiebreak}} correct{{/if}}</td>
      {{#if isLeaderboard}}
          <td>{{time}}s</td>      
      {{/if}}
    </tr>
</template>

