<template name="mainLayout">
  {{#if controllerMode}}
    {{> controller}}
  {{else}}
    {{#if currentPlayer}}
      {{> player_info}}
    {{/if}}
    {{> stage}}
  {{/if}}
</template>


<template name="stage">
  {{#if allowedToSee}}
    <div id="stage" class="stage_{{currentStage.type}} {{currentStage.class}} scrollable">
      <div class="inner">
        <h1 class='title'>{{currentStage.title}}</h1>
        {{renderCurrentStage}}
      </div>
    </div>
  {{else}}
    <div id="stage" class='stage_notregistered'>
      {{> holding_slide}}
    </div>
  {{/if}}
</template>


<template name="countdown">
  <div id="clock"></div>
</template>

<template name="holding_slide">
    <div id="holding_slide"><div class="inner"></div></div>
</template>

<template name="stage_static">
  {{#if screenMode}}
    {{#if content.screen}}
      {{content.screen}}
    {{else}}
      {{> holding_slide}}
    {{/if}}
  {{else}}
    {{#if content.default}}
      {{content.default}}
    {{else}}
      {{> holding_slide}}
    {{/if}}
  {{/if}}
</template>

<template name="stage_form">
    {{#if screenMode}}
      {{#if showLeaderboard}}
        {{> leaderboard}}
      {{else}}
        {{> holding_slide}}
      {{/if}}
    {{else}}
      {{> build_form}}
    {{/if}}
</template>








<template name="stage_results">
  {{> leaderboard}}
  {{#if playerMode}}
    {{#if iAmWinner}}
      <div class="winner">
        <h1>Congratualtions</h1>
        {{#if playingTiebreak}}
          <h2>You have reached the tiebreak stage!</h2>
        {{else}}
          <h2>You are the winner!</h2>
        {{/if}}

      </div>
    {{else}}
      <div class="loser">
        <h1>Sorry</h1>
        <h2>You didn't win.<br/>Better luck next time!</h2>
      </div>
    {{/if}}
  {{/if}}
</template>

