<template name="mainLayout">
  {{#if controllerMode}}
    {{> controller}}
  {{else}}
    {{#if currentPlayer}}
      {{> player_info}}
    {{/if}}
    {{> stage}}
  {{/if}}
</template>


<template name="stage">
  {{#if allowedToSee}}
    <div id="stage" class="stage_{{currentStage.type}} stage_id_{{currentStage._id}} {{currentStage.class}} scrollable">
      <div class="inner">
        <h1 class='title'>{{currentStage.title}}</h1>
        {{renderCurrentStage}}
      </div>
    </div>
  {{else}}
    <div id="stage" class='stage_notregistered'>
      {{> holding_slide}}
    </div>
  {{/if}}
</template>


<template name="countdown">
  <div id="clock"></div>
</template>

<template name="holding_slide">
    <div id="holding_slide"><div class="inner"></div></div>
</template>

<template name="stage_static">
  {{#if screenMode}}
    {{#if content.screen}}
      {{content.screen}}
    {{else}}
      {{> holding_slide}}
    {{/if}}
  {{else}}
    {{#if content.default}}
      {{content.default}}
    {{else}}
      {{> holding_slide}}
    {{/if}}
  {{/if}}
</template>

<template name="stage_form">
    {{#if screenMode}}
      {{#if showLeaderboard}}
        {{> leaderboard}}
      {{else}}
        {{> holding_slide}}
      {{/if}}
    {{else}}
      {{> build_form}}
    {{/if}}
</template>



<template name="stage_results">
  {{#if playerMode}}
    {{#if iAmWinner}}
      <div class="winner">
        {{#if playingTiebreak}}
          <div class="question-result answered-correctly">
            <div class="text">You have reached the tiebreak stage!</div>
          </div>
        {{else}}
          <div class="question-result answered-correctly">
            <div class="text">You are the winner!</div>
          </div>
        {{/if}}
      </div>
    {{else}}
      <div class="question-result answered-incorrectly">
        <div class="text">Unlucky! You didn't win this time...</div>
      </div>
    {{/if}}
  {{else}}
    {{> leaderboard}}
  {{/if}}
</template>

