
<template name="stage_question">
  {{> question_content}}
</template>

<template name="question_content">
  <div class="question">
    {{#if screenMode}}
      <h2 class='question-text'>{{currentQuestion.text}}</h2>
    {{/if}}
    {{#if voted}}
      <div class="question-result answer-received">
        <div class="text">We have received your answer.</div>
      </div>
    {{else}}
      {{#if timeUp}}
        <div class="question-result didnt-answer">
          <div class="text">Time up!</div>
        </div>
      {{else}}
        <ul class="options">  
          {{#each currentQuestion.options}}
            {{> option}}
          {{/each}}
        </ul>
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="option">
  <li class="option btn"> {{#if screenMode}}{{text}}{{/if}}</li>
</template>

<template name="stage_answer">
  {{#if screenMode}}
    <h2 class='question-text'>{{currentQuestion.text}}</h2>
  {{/if}}
  <div class="answerbox">
    {{#if screenMode}}
      <h3>The correct answer was: <span class='btn'>{{currentCorrectAnswer.text}}</span></h3>
      {{> leaderboard}}
    {{else}}
      {{#if answered}}
        {{#if answeredCorrectly}}
          <div class="question-result answered-correctly">
            <div class="text">You were correct!</div>
            <div class="points">{{correctPoints}} points</div>
          </div>
          {{#if wonBonus}}
            <div class="question-result bonus-points">
              <div class="text">First correct answer!</div>
              <div class="points">{{bonusPoints}} bonus</div>
            </div>
          {{/if}}
        {{else}}
          <div class="question-result answered-incorrectly">
            <div class="text">You were incorrect!</div>
            <div class="points">0 points</div>
          </div>
        {{/if}}
      {{else}}
        <div class="question-result didnt-answer">
          <div class="text">You didn't answer in time!</div>
          <div class="points">0 points</div>          
        </div>
      {{/if}}
    {{/if}}
  </div>
</template>

