<template name="stage_tiebreakIntro">
{{#if screenMode}}
  {{> changing_numbers}}
{{else}}
  {{> holding_slide}}
{{/if}}
</template>

<template name="changing_numbers">
  <div class="tiebreak-numbers">{{{numbers}}}</div>
</template>

<template name="stage_tiebreak">
{{#if tiebreakPlayer}}
  {{#if phaseOne}}

    {{> tiebreak_phaseone}}
  {{/if}}
  {{#if phaseTwo}}
    {{#if tiebreakComplete}}
      {{> tiebreak_complete}}
    {{else}}
      {{> tiebreak_phasetwo}}
    {{/if}}
  {{/if}}
{{else}}
  {{> notPlayingTiebreak}}
{{/if}}
</template>

<template name='notPlayingTiebreak'>
  {{> holding_slide}}
</template>


<template name='tiebreak_phaseone'>
  {{#if screenMode}}
    {{> tiebreak_numbers}}
  {{else}}
    {{> holding_slide}}
  {{/if}}
</template>


<template name='tiebreak_numbers'>
  <div class="tiebreak-numbers">
    {{{numbers}}}
  </div>
</template>

<template name='tiebreak_phasetwo'>
  {{#if playerMode}}
    {{> tiebreak_number_input}}
  {{/if}}
</template>

<template name="tiebreak_number_input">
  <div class="tiebreak-numbers">{{{numberString}}}</div>
  <div class="number-input">
    {{#each buttons}}
      {{> number_input_button}}
    {{/each}}
  </div>
</template>

<template name="number_input_button">
  <div class="btn number {{c}}" data-n='{{d}}'>{{t}}</div>
</template>

<template name='tiebreak_complete'>
  {{> holding_slide}}
</template>

<template name="stage_tiebreakResults">
{{#if tiebreakPlayer}}
  {{#if screenMode}}
    {{> leaderboard tiebreakResults}}
  {{/if}}
  {{#if winner}}
    <h2 class="winner">{{winner.firstname}} {{winner.lastname}} is the winner!</h2>
  {{else}}
    <h2>Another tiebreak!</h2>
  {{/if}}
{{else}}
  {{> notPlayingTiebreak}}
{{/if}}


</template>

<template name="tiebreak_player">
  <div class="player">
    {{firstname}} {{lastname}} - {{currentTiebreakScore}}
  </div>
</template>

